body{
  background-color: white;
    padding:10px;
    margin:2em;
    border:5px solid black;
    margin-left: 150px;
    margin-right: 150px;
}
header{
  min-height:100vh;
  width:73vw;
  background-image:url("img/20882020_298632753943215_8734346881096889573_n.jpg");
  background-size: contain;
  border:5px solid black;
  border-radius:1em;
}
header h1{
  color: black;
  padding-top: 80px;
  padding-bottom:80px;
  text-align:center;
  font-size:50px;
 font-family: 'Rouge Script';
margin-left: 0;
background-color: rgba(255,255,255,0.5);
}
header h2{
  color: black;
  padding-top: 40px;
  padding-bottom:40px;
  text-align:center;
  font-size:50px;
 font-family: 'Ubuntu';
margin-left: 0;
background-color:rgba(255,255,255,0.5) ;
}
header h2:hover{
  color: #f74584;
}
header h1:hover{
  color: #f74584;

}
#menu {
  position:fixed;
  min-height:60px;
  top:0;
  background-color:pink;
  opacity: 0.9;
  margin-right: 150px;
  width: 90px;
}
#menu img{
  width: 40px;
  height: auto;
}

#menu a{
  display: block;
     text-align: center;
     padding: 16px;
     transition: all 0.3s ease;

}
#menu a:hover{
  background-color: rgba(255,255,255,0.5);
}
.active{
  background-color: #f74584;
  display: block;
     text-align: center;
     padding: 16px;
     transition: all 0.3s ease;
}
a:link {color: #f74584;}
a:visited {color: #420039;}
#section1{
  padding:2em;
  background-color:white;
}
#imgmenu1{
  background-image: url("img/Titiah Tia.png");
  background-size: cover;
  background-position: center;
  width: 25vw;
  height: 20vw;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
display: inline-block;
overflow: hidden;
margin-bottom:30px;
}
#imgpop1{
    display: none;
    color:black;
    width: 100%;
    height: 100%;
}
#imgmenu1:hover{
  box-shadow:10px 10px 5px pink;
}

#imgmenu2{
  background-image: url("img/black-1072366_1280.jpg");
  background-size: cover;
  background-position: center;
  width: 25vw;
  height: 20vw;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
display: inline-block;
overflow: hidden;
margin-bottom: 30px;
margin-left: 30px;
}
#imgpop2 p{
  font-size: 20px;
  color:white;
  padding-bottom: 50px;
  padding-top: 50px;
}
#imgpop2{
    display: none;
    color:black;
    width: 100%;
    height: 100%;
}
#imgmenu2:hover > #imgpop2{
  background-color: rgba(255, 255, 255, 0.5);
  display: block;

}
#section1 p{
  text-align: center;
  padding: 1em;
  font-size: 20px;
}
#section2{
margin: 20px;
}
#section2 h2{
  color:black;
  text-align:center;
  padding-top:25px;
  padding-bottom:25px;
  background-color: #c4bebf;
  border-style: double;
  font-family: 'Ubuntu';
font-size: 30px;
}
#section2 span{

  padding-right: 50px;
}
#section2 ul{
  padding: 0;
  padding-bottom: 70px;
  padding-top: 70px;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}
#section2 li{
  width: 60px;
  display: inline;
  box-shadow: 10px 10px 5px orange;

}
#section2 p{
  text-align: center;
  padding: 1em;
  font-size: 20px;
}
}
#section2 img{
  width: 60px;
}
#section2 img:hover{
  border-style:inset;
}
#section3{
  margin:20px;
}
#section3 p{
  text-align: center;
  padding: 1em;
  font-size: 20px;
}
#section3 h2{
  color:black;
  text-align:center;
  padding-top:25px;
  padding-bottom:25px;
  background-color: #c4bebf;
  border-style: double;
  font-family: 'Ubuntu';
font-size: 30px;
}
#section3 ul{
  padding: 0;
  padding-bottom: 70px;
  padding-top: 70px;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}
#section3 li{
  width: 30px;
  display: inline;
}
#section3 img{
  width: 30%;
  border-style:outset;
  box-shadow: 10px 10px 5px grey;
}
/* Add a hover effect (blue shadow) */
#section3 img:hover{
  opacity: 0.7;
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
#section3 img:focus{
  text-decoration: none;
  cursor: pointer;
  color: black;
}
#section4{
  padding:3em;
  background-color:white;
}
#section4 h2{
  color:black;
  text-align:center;

  background-color:#c4bebf;
  border-style: double;
  font-family: 'Ubuntu';
font-size: 30px;
padding-top:50px;
padding-bottom:50px;
}
#section4{
  background-color: white;
}
#section4 p{
  text-align: center;
  padding: 1em;
  font-size: 20px;
}
#container {
  position: relative;
  width: 30%;
  display: inline-block;
}

#image {
  width: 80%;
  height: auto;
  display: inline;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
overflow: hidden;
margin-bottom:0px;
}

#overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: pink;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;

}

#container:hover #overlay {
  bottom: 0;
  height: 100%;
}

#text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

}


#section5 h2{
  color:black;
  text-align:center;
  padding-top:25px;
  padding-bottom:25px;
  background-color: #c4bebf;
  border-style: double;
  font-family: 'Ubuntu';
font-size: 30px;
}
#rs:hover{
  box-shadow:10px 10px 5px grey;
}
#section5 img{
  width: 100px;

}
#rs{
  padding-left: 50px;
  padding-right: 50px;
}
